<a href="https://colab.research.google.com/github/skvs2005/GoogleCoLabs/blob/master/SPY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Data from Yahoo Finance with yfinance

## Historical Price & Volume Data for one Stock

In [1]:
import pandas as pd
import yfinance as yf
import datetime as dt

ModuleNotFoundError: ignored

In [ ]:
ticker = "SPY"

In [ ]:
spy = yf.download(ticker)

[*********************100%***********************]  1 of 1 completed

In [ ]:
spy.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-03-30,255.699997,262.429993,253.529999,261.649994,261.649994,171369500
2020-03-31,260.559998,263.329987,256.220001,257.750000,257.750000,194881100
2020-04-01,247.979996,257.660004,243.899994,246.149994,246.149994,189554600
2020-04-02,245.190002,252.679993,244.589996,251.830002,251.830002,177660400
2020-04-03,250.759995,253.320007,245.220001,248.190002,248.190002,135310100

In [ ]:
start = dt.datetime(2000, 1, 1)
end = dt.datetime.now()


# Close Related
spy['Close-Open'] = spy['Close'] - spy['Open']
spy['Close-Low'] = spy['Close'] - spy['Low']
spy['High-Close'] = spy['High'] - spy['Close']
spy['PreviousDayClose'] = spy['Adj Close'].shift(1)
spy['Open-PreviousDayClose'] = spy['Open'] - spy['PreviousDayClose']

# Swing Related
spy['High-Open'] = spy['High'] - spy['Open']
spy['Open-Low'] = spy['Open'] - spy['Low']


spy['NextDayOpen'] = spy['Open'].shift(-1)
spy['NextDayClose'] = spy['Close'].shift(-1)
spy['NextDayHigh'] = spy['High'].shift(-1)
spy['NextDayLow'] = spy['Low'].shift(-1)





spy['NextDayClosePctChg'] = (spy['NextDayClose'] - spy['Close']) * 100 / spy['Close']
spy.round(2)
# print( spy[spy.Close>spy.Open][['Close', 'Open', 'Low', 'Open-Low', 'Date']].tail(10))

spy.tail(5).round(2)

,Open,High,Low,Close,Adj Close,Volume,Close-Open,Close-Low,High-Close,PreviousDayClose,Open-PreviousDayClose,High-Open,Open-Low,NextDayOpen,NextDayClose,NextDayHigh,NextDayLow,NextDayClosePctChg
Date,,,,,,,,,,,,,,,,,,
2020-03-30,255.70,262.43,253.53,261.65,261.65,171369500,5.95,8.12,0.78,253.42,2.28,6.73,2.17,260.56,257.75,263.33,256.22,-1.49
2020-03-31,260.56,263.33,256.22,257.75,257.75,194881100,-2.81,1.53,5.58,261.65,-1.09,2.77,4.34,247.98,246.15,257.66,243.90,-4.50
2020-04-01,247.98,257.66,243.90,246.15,246.15,189554600,-1.83,2.25,11.51,257.75,-9.77,9.68,4.08,245.19,251.83,252.68,244.59,2.31
2020-04-02,245.19,252.68,244.59,251.83,251.83,177660400,6.64,7.24,0.85,246.15,-0.96,7.49,0.60,250.76,248.19,253.32,245.22,-1.45
2020-04-03,250.76,253.32,245.22,248.19,248.19,135310100,-2.57,2.97,5.13,251.83,-1.07,2.56,5.54,NaN,NaN,NaN,NaN,NaN

In [ ]:
OverThisManyDays = 30
print("OverThisManyDays:",OverThisManyDays)
print("Down Swing On Up Days:")
print(spy[spy.Close > spy.Open]['Open-Low'].tail(OverThisManyDays).describe())

OverThisManyDays: 30
Down Swing On Up Days:
count    30.000000
mean      2.785331
std       3.589320
min       0.040009
25%       0.417496
50%       1.305008
75%       3.099998
max      14.569992
Name: Open-Low, dtype: float64

In [ ]:
print("#################")
print("OverThisManyDays:",OverThisManyDays)
print("Up Swing On Down Days:")
print(spy[spy.Close < spy.Open]['High-Open'].tail(OverThisManyDays).describe())

#################
OverThisManyDays: 30
Up Swing On Down Days:
count    30.000000
mean      3.018332
std       4.068017
min       0.049988
25%       0.272499
50%       1.159988
75%       3.819992
max      15.720001
Name: High-Open, dtype: float64

In [ ]:
spy.tail(5).round(2)

,Open,High,Low,Close,Adj Close,Volume,Close-Open,Close-Low,High-Close,PreviousDayClose,Open-PreviousDayClose,High-Open,Open-Low,NextDayOpen,NextDayClose,NextDayHigh,NextDayLow,NextDayClosePctChg
Date,,,,,,,,,,,,,,,,,,
2020-03-30,255.70,262.43,253.53,261.65,261.65,171369500,5.95,8.12,0.78,253.42,2.28,6.73,2.17,260.56,257.75,263.33,256.22,-1.49
2020-03-31,260.56,263.33,256.22,257.75,257.75,194881100,-2.81,1.53,5.58,261.65,-1.09,2.77,4.34,247.98,246.15,257.66,243.90,-4.50
2020-04-01,247.98,257.66,243.90,246.15,246.15,189554600,-1.83,2.25,11.51,257.75,-9.77,9.68,4.08,245.19,251.83,252.68,244.59,2.31
2020-04-02,245.19,252.68,244.59,251.83,251.83,177660400,6.64,7.24,0.85,246.15,-0.96,7.49,0.60,250.76,248.19,253.32,245.22,-1.45
2020-04-03,250.76,253.32,245.22,248.19,248.19,135310100,-2.57,2.97,5.13,251.83,-1.07,2.56,5.54,NaN,NaN,NaN,NaN,NaN

## Setting specific Time Periods

In [ ]:
import pandas as pd
import yfinance as yf

In [ ]:
ticker = "GE"

In [ ]:
yf.download(ticker, start = "2014-01-01", end = "2018-12-31")

In [ ]:
GE = yf.download(ticker, start = "2014-01-01", end = "2018-12-31")

In [ ]:
GE.info()

In [ ]:
yf.download(ticker, period  = "ytd")

In [ ]:
yf.download(ticker, period  = "1mo")

In [ ]:
yf.download(ticker, period  = "5d")

In [ ]:
yf.download(ticker, period  = "10y")

## Frequency Settings (Intraday)

In [ ]:
import pandas as pd
import yfinance as yf

In [ ]:
ticker = "GE"

In [ ]:
yf.download(ticker, period  = "1mo", interval = "1h")

In [ ]:
yf.download(ticker, period  = "1mo", interval = "30m")

In [ ]:
yf.download(ticker, period  = "1mo", interval = "5m")

In [ ]:
yf.download(ticker, period  = "1mo", interval = "1m")

In [ ]:
yf.download(ticker, period  = "5d", interval = "1m")

In [ ]:
GE = yf.download(ticker, period  = "5d", interval = "1m")

In [ ]:
GE.head(10)

In [ ]:
GE.describe()

In [ ]:
yf.download(ticker, period  = "5d", prepost= True, interval = "30m")

## Stock Splits and Dividends

In [ ]:
import pandas as pd
import yfinance as yf

In [ ]:
ticker = "AAPL"

In [ ]:
AAPL = yf.download(ticker, period  = "10y", actions = True)

In [ ]:
AAPL

In [ ]:
AAPL[AAPL["Dividends"] > 0]

In [ ]:
AAPL.loc["2019-08-05":"2019-08-15"]

In [ ]:
AAPL.loc["2019-08-05":"2019-08-15"].diff()

In [ ]:
AAPL[AAPL["Stock Splits"] > 0]

In [ ]:
AAPL.loc["2014-06-05":"2014-06-15"]

## Exporting to CSV/Excel

In [ ]:
import pandas as pd
import yfinance as yf

In [ ]:
ticker = "GE"

In [ ]:
GE = yf.download(ticker, period  = "5y")

In [ ]:
GE.head()

In [ ]:
GE.to_csv("GE.csv")

In [ ]:
pd.read_csv("GE.csv", parse_dates = ["Date"], index_col = "Date")

In [ ]:
GE.to_excel("GE.xls")

In [ ]:
pd.read_excel("GE.xls", parse_dates= ["Date"], index_col= "Date")

## Importing Data for many Stocks

In [ ]:
import pandas as pd
import yfinance as yf

In [ ]:
ticker = ["GE", "AAPL", "FB"]

In [ ]:
yf.download(ticker, period  = "5y")

In [ ]:
yf.download(ticker, period  = "5y" , group_by= "Ticker")

In [ ]:
stocks = yf.download(ticker, period  = "5y").Close

In [ ]:
stocks.head()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
stocks.plot()
plt.show()

## Importing Financial Indexes

In [ ]:
import pandas as pd
import yfinance as yf

In [ ]:
ticker = ["^DJI", "^GSPC"]

In [ ]:
yf.download(ticker, period  = "5y")

In [ ]:
indexes = yf.download(ticker, period  = "5y").Close

In [ ]:
indexes.head()

In [ ]:
norm = indexes.div(indexes.iloc[0]).mul(100)
norm.head()

In [ ]:
norm.plot()
plt.show()

In [ ]:
ticker = ["^DJITR", "^SP500TR"]

In [ ]:
indexes = yf.download(ticker, period  = "5y").Close

In [ ]:
indexes

## Importing Currencies / FX

In [ ]:
import pandas as pd
import yfinance as yf

In [ ]:
ticker = "EURUSD=X"
ticker2 = "USDEUR=X"

In [ ]:
yf.download(ticker, period  = "5y")

In [ ]:
yf.download(ticker2, period  = "5y")

In [ ]:
ticker3 = "USDGBP=X"

In [ ]:
yf.download(ticker3, period  = "5y")

## Importing Cryptocurrencies

In [ ]:
import pandas as pd
import yfinance as yf

In [ ]:
ticker = ["BTC-EUR", "ETH-USD"]

In [ ]:
yf.download(ticker, period  = "5y")

In [ ]:
crypt = yf.download(ticker, period  = "5y").Close

In [ ]:
crypt

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
crypt.plot()
plt.show()

## Importing Funds & ETFs

In [ ]:
import pandas as pd
import yfinance as yf

In [ ]:
ticker = "TLT" # iShares 20+ Year Treasury Bond ETF
ticker2 = "OMOIX" # Vivaldi Multi-Strategy Fund Class I

In [ ]:
yf.download(ticker, period  = "5y")

In [ ]:
yf.download(ticker2, period  = "5y")

## Importing Treasury Yields

In [ ]:
import pandas as pd
import yfinance as yf

In [ ]:
ticker1 = "^TNX" # 10Y Tresury Yield
ticker2 = "^FVX" # 5Y Treasury Yield

In [ ]:
ticker = ["^TNX", "^FVX"]

In [ ]:
yf.download(ticker, period  = "5y")

In [ ]:
yields = yf.download(ticker, period  = "5y").Close

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
yields.plot()
plt.show()

## The Ticker Object

In [ ]:
import pandas as pd
import yfinance as yf

In [ ]:
ticker = "DIS"

In [ ]:
dis = yf.Ticker(ticker)

In [ ]:
dis

In [ ]:
dis.ticker

In [ ]:
dis.history()

## Stock Fundamentals, Meta Data and Performance Metrics

In [ ]:
dis

In [ ]:
dis.info

In [ ]:
pd.Series(dis.info)

In [ ]:
df = pd.Series(dis.info, name = "DIS").to_frame().T
df

In [ ]:
ticker = ["MSFT", "FB"]

In [ ]:
for i in ticker:
    df.loc["{}".format(i)] = pd.Series(yf.Ticker(i).info)

In [ ]:
df

In [ ]:
df.info()

## Importing Financials (Balance Sheet, P&L, Cashflows)

In [ ]:
dis

In [ ]:
dis.balance_sheet

In [ ]:
dis.financials

In [ ]:
dis.cashflow

In [ ]:
ticker = ["AAPL", "FB", "AMZN"]

In [ ]:
for i in ticker:
    yf.Ticker(i).financials.to_csv("{}.csv".format(i))

## Importing Put / Call Options (Stocks)

In [ ]:
SPY

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1993-01-29,43.968750,43.968750,43.750000,43.937500,26.299288,1003200
1993-02-01,43.968750,44.250000,43.968750,44.250000,26.486324,480500
1993-02-02,44.218750,44.375000,44.125000,44.343750,26.542448,201300
1993-02-03,44.406250,44.843750,44.375000,44.812500,26.822998,529400
1993-02-04,44.968750,45.093750,44.468750,45.000000,26.935240,531500
1993-02-05,44.968750,45.062500,44.718750,44.968750,26.916538,492100
1993-02-08,44.968750,45.125000,44.906250,44.968750,26.916538,596100
1993-02-09,44.812500,44.812500,44.562500,44.656250,26.729490,122100
1993-02-10,44.656250,44.750000,44.531250,44.718750,26.766899,379600
1993-02-11,44.781250,45.125000,44.781250,44.937500,26.897835,19500
1993-02-12,44.875000,44.875000,44.593750,44.593750,26.692072,42500
1993-02-16,44.468750,44.468750,43.406250,43.468750,26.018700,374800
1993-02-17,43.468750,43.531250,43.281250,43.437500,25.999992,210900
1993-02-18,43.937500,43.937500,42.812500,43.406250,25.981276,378100
1993-02-19,43.406250,43.562500,43.343750,43.562500,26.074812,34900
1993-02-22,43.687500,43.781250,43.562500,43.718750,26.168346,513600
1993-02-23,43.843750,43.875000,43.468750,43.687500,26.149637,373700
1993-02-24,43.718750,44.250000,43.718750,44.250000,26.486324,26300
1993-02-25,44.218750,44.375000,44.125000,44.343750,26.542448,44500
1993-02-26,44.437500,44.437500,44.187500,44.406250,26.579865,66200
1993-03-01,44.562500,44.562500,44.218750,44.281250,26.505026,66500
1993-03-02,44.312500,44.937500,44.250000,44.937500,26.897835,182400
1993-03-03,45.000000,45.156250,44.937500,45.125000,27.010061,280100
1993-03-04,45.187500,45.187500,44.875000,44.875000,26.860428,89500
1993-03-05,44.937500,45.125000,44.718750,44.750000,26.785612,40000
1993-03-08,44.843750,45.750000,44.843750,45.750000,27.384171,50800
1993-03-09,45.656250,45.687500,45.500000,45.593750,27.290640,169300
1993-03-10,45.593750,45.687500,45.406250,45.687500,27.346737,194400
1993-03-11,45.718750,45.843750,45.500000,45.562500,27.271942,70900
1993-03-12,45.187500,45.218750,44.812500,45.093750,26.991364,643600
...,...,...,...,...,...,...
2020-02-24,323.140015,333.559998,321.239990,322.420013,320.535187,161088400
2020-02-25,323.940002,324.609985,311.690002,312.649994,310.822266,218913200
2020-02-26,314.179993,318.109985,310.700012,311.500000,309.678986,194773800
2020-02-27,305.459991,311.559998,297.510010,297.510010,295.770782,284353500
2020-02-28,288.700012,297.890015,285.540009,296.260010,294.528107,385764000
2020-03-02,298.209991,309.160004,294.459991,309.089996,307.283081,238703600
2020-03-03,309.500000,313.839996,297.570007,300.239990,298.484802,300139100
2020-03-04,306.119995,313.100006,303.329987,312.859985,311.031036,176613400
2020-03-05,304.980011,308.470001,300.010010,302.459991,300.691833,186366800
2020-03-06,293.149994,298.779999,290.230011,297.459991,295.721069,228667200
2020-03-09,275.299988,284.190002,273.450012,274.230011,272.626892,309417300
2020-03-10,284.640015,288.519989,273.500000,288.420013,286.733948,276444100
2020-03-11,280.700012,281.940002,270.880005,274.359985,272.756104,255316300
2020-03-12,256.000000,266.660004,247.679993,248.110001,246.659576,392220700
2020-03-13,263.089996,271.480011,248.520004,269.320007,267.745575,329566100
2020-03-16,241.179993,256.899994,237.360001,239.850006,238.447861,297240000
2020-03-17,245.039993,256.170013,237.070007,252.800003,251.322159,262070500
2020-03-18,236.250000,248.369995,228.020004,240.000000,238.596985,327597100
2020-03-19,239.250000,247.380005,232.220001,240.509995,239.103989,289322000
2020-03-20,242.529999,244.470001,228.500000,228.800003,228.800003,347158800
2020-03-23,228.190002,229.679993,218.259995,222.949997,222.949997,326025200
2020-03-24,234.419998,244.100006,233.800003,243.149994,243.149994,235494500
2020-03-25,244.869995,256.350006,239.750000,246.789993,246.789993,299430300
2020-03-26,249.520004,262.799988,249.050003,261.200012,261.200012,257632800
2020-03-27,253.270004,260.809998,251.050003,253.419998,253.419998,224341200
2020-03-30,255.699997,262.429993,253.529999,261.649994,261.649994,171369500
2020-03-31,260.559998,263.329987,256.220001,257.750000,257.750000,194881100
2020-04-01,247.979996,257.660004,243.899994,246.149994,246.149994,189554600
2020-04-02,245.190002,252.679993,244.589996,251.830002,251.830002,177660400
2020-04-03,250.759995,253.320007,245.220001,248.190002,248.190002,135310100

In [ ]:
SPY.option_chain()

AttributeError: 'DataFrame' object has no attribute 'option_chain'

In [ ]:
calls = dis.option_chain()[0]
calls

In [ ]:
puts = dis.option_chain()[1]
puts

## Streaming real-time Data

In [ ]:
import pandas as pd
import yfinance as yf
import time

In [ ]:
yf.download("EURUSD=X", interval = "1m", period = "1d").tail()

In [ ]:
data = yf.download("EURUSD=X", interval = "1m", period = "1d")

In [ ]:
print(data.index[-1], data.iloc[-1, 3])

In [ ]:
while True:
    time.sleep(5)
    data = yf.download("EURUSD=X", interval = "1m", period = "1d")
    print(data.index[-1], data.iloc[-1, 3])

In [ ]:
while True:
    time.sleep(60)
    data = yf.download("EURUSD=X", interval = "1m", period = "1d")
    print(data.index[-1], data.iloc[-1, 3])